
body{
    background-color: lightgray;
    color: #25373A;
    background-image: url(images/transparentwallv2.png);
}
a{
    color: #25373A;
    text-decoration: none;
}
header{
    width: 100%;
    min-height: 150px;
    /* background: url(images/transparentwallv2.png); */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    font-size: 20px;
    z-index: 3;
}
header h1{
    margin-left: 100px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    padding: 5px 5px;
    border-style: solid;
    border-width: 1px;
}
.navbuttons{
    padding-right: 40px;  
}
.mybutton{
    padding: 10px 25px;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    border-color: #25373A;
    margin-left: 10px;
}
.mybutton:hover{
    background-color: #25373A;
    color: white;
}



.container{
    
    max-width: 1366px;
    height: 3000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgray;
    padding-top: 80px;
    
}

.bodysection1{
    width: 1366px;
    
    background: url(images/parkerslandingstone.jpg)  center; 
    background-repeat: repeat;
    position: fixed 100%;
    margin: 0 auto;
}
.body1text{
    width: 20%;
    height: 20%;
    background-color: white;
    margin-top: 30%;
    margin-left: 65%;
    border-radius: 10px;
}
.body1text h1{
    font-size: x-large;
    padding-left: 10%;
    padding-top: 20%;
}
.bodywalldivider{
    margin-top: -60px; 
    position:sticky; 
}









/* Tablet View */
@media (max-width: 768px){


}



/* Mobile View */
@media (max-width:500px){


}